.banner {
    background-color: darkgoldenrod;
    height: 450px;
}
.banner-text {
    margin-top: 150px;
    margin-bottom: 30px;
}
.banner-img {
    margin-top: 60px;
    border-radius: 50%;
}
.carousel {
    background-image: url(../../../images/banner-bg.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 8;
}